@import url('https://fonts.googleapis.com/css?family=Oswald');
html,body {
overflow-x:hidden;/*tirar nav botom*/
backgrou nd-image: -webkit-linear-gradient(left, #000000 0%, #33F8FF 50%, #000000 100%);
text-transform: uppercase;
}
/* Botao Toggle  */

/* Fim botao toggle  */





/* navbar-leteral  */
#nav-navbar-lateral{
	background-image: -webkit-linear-gradient(left, #f6f8f9 0%, #E5EBEE 50%, #D7DEE3 51%, #f5f7f9 100%);
	
	dis play: block;
	hei ght: 90%;
  wid th:90%;
	border-radius: 5px;
}
#menu-lateral{
	background-image: -webkit-linear-gradient(left, #f6f8f9 0%, #E5EBEE 50%, #D7DEE3 51%, #f5f7f9 100%);
	
	dis play: block;
	height: 100%;
  wid th:100%;
	border-radius: 5px;
}
/* LOGIN==========================================================================*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 93px 190px;
}
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.wrap-login100 {
  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  b order:3px solid black;
}
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}
.login100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: 250px 100px;
  background-position: center;

  padding: 70px 15px 74px 15px;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}
/*Fim do login==========================================================================================*/
#navbarSite{
	display: block;
	width: 100%;
}
.navbar{
	background:rgba(158,151,158,0.01);
}
#div-logo{
  width:125px;
  height:60px;
  padding:auto;
  margin:auto;
  bor der:1px solid black;
}
.img-logo{
	width: 100%;
  height: 90%;
	
	padding: auto;
	margin: auto;
  
	display: block;/*Como o span e inline,mostra ele como bloco*/
	background: url('../imagens/Logo2.png') no-repeat;
	background-size:contain ;/* e contain coloca o mesmo tamanho da classe colocar uma imagen e definir o tamanho*/
	color: transparent;	
  bor der:1px solid black;
}
#div-cardastro-cardapio-pedido{
	background-image: -webkit-linear-gradient(left, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
	border-radius: 9px;
	padding: 0px;
}
#div-cardapio{
float: left;
border:1px solid gray;
border-radius: 10px;
background:rgba(158,151,158,0.01);
text-align: center;
padding: 5px 5px 5px 5px;
border-r ight:2px solid blue;
margin-left: 0px;
}
#divPedido,#divCad{
padding: 5px 5px 5px 5px;
margin-left: 0px;
float: left;
border:1px solid gray;
border-radius: 10px;
background:rgba(158,151,158,0.01);
}
.btn-group{
margin-left: 0px;
margin-right: auto;
margin-bottom: 5px;
}
.h2-texto{
text-align: center;
margin-left: auto;
margin-right: auto;
}
.tipografia-navbar{
	font-size: medium;
}
.btn-m-m{
	
}
.divs{
	margin: auto;
}
a:link{
	text-decoration: none;
}
.borda,a:link{
	display: block;
	width: 100%;
	border-radius: 2px;
	padding-left:5px;
	letter-spacing: 0.10em;
	margin-top: 5px;

}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px; 
}
.divisor2{
	width: 100%;
	height: 2px;
	background: black;

}
#sabor{
border-radius: 9px;
margin: 3px;
 }
 /*Tipografia==========================================================================================*/
